@charset "UTF-8";

body {
    color: #000000;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-size: 14pt;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(img/bkg.JPG);                                 
    }


#container {
	width: 1280px;
	height:auto;
	background-color: #FFFFFF;
	margin: auto;
	
}
/*Float aside so ir displays next to main*/
aside {
    width: 150px;
    height: 1900px;
    float: left;
    background-color: #F08E8D;
}
video {
    width: 600px;
    height: 600px;
}

header {
    width: 1280px;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 50px 0px 0px 0px;
    background-image: url(img/attemptfive.png);
	
}

/*float the main so it shows up next to the aside. Reduce width  by 150 pc so they line with header.*/

p {
font-family: apparat,sans-serif;
font-weight: 400;
font-style: normal;
}

main {
    width: 1100px;
    height: 1700px;
    float: right;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    background-color: #FFFFFF
}
img {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.floatLeft {
	
	float: left;
}

article {
    margin-top: 50px;
    margin-bottom: 30px;
	font-family: "my font";
}


/*Clear the float so the footer shows up in the right place again.*/
footer {
    width: 868px;
    height: 50px;
    clear: both;
	background-color: #F08E8D;
}

h1 {
    color: #7C2827;
    font-family: flower-power,sans-serif;
	font-weight: 500;
	font-style: normal;
    font-size: 35pt;
    padding-left: 0px;
}

h2 {
    color: #CD0A0A;
    text-shadow: 5px 4px 10px #9D9D9D;
}


h3 {
    font-size: 12pt;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
nav {
    width: 768px;
    height: 50px;
}
#container nav li {
    display: block;
    list-style-type: none;
    margin-right: 80px;
    float: left;
    width: 60px;
    font-family: acier-bat-noir, sans-serif;
    font-size: 18pt
}
#container nav ul {
    display: block;
    list-style-type: none;
    margin-top: auto;
    margin-right: auto;
    margin-left: 77px;
    margin-bottom: auto;
    float: left;
    width: 1280px;
    font-family: acier-bat-noir, sans-serif;
    font-size: 18pt
}


nav a:link {
    color: #BD6A81;
    text-decoration: none;
}
nav a:visited {
    text-decoration: none;
    color: #7C2827;
}
nav a:hover {
    text-decoration: none;
    color: #FFFFFF;
	background-color: #BD6A81;
	padding: 10px;
	
}
nav a:active {
    text-decoration: none;
    color: #7C0EEE;
}.submit_btn {
    width: 160px;
    height: 30px;
    border-radius: 10px;
    background-color: #BD6A81;
    color: #FFFFFF;
    font-size: 16px;   
}



.submit_btn:hover {
	
 -webkit-box-shadow: 6px 6px 39px 5px #6E6E6E;
    box-shadow: 6px 6px 39px 5px #6E6E6E;	
	
}
container {
    height: 1200px;
}
.column {
    width: 250px;
    height: 750px;
    border-width: 10px;
    border-color: #FF00D5;
    float: left;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
